@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
main{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
}
.sidebar{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 20vw;
    background-color: #0d929e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky; /* Safari & IE */
position: sticky;
top: 0;
height: 100vh
}
.sidebar a{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.sidebar a:hover {
    color: white;
}
.sidebar a:active{
    color: white;
}
.sidebar img{
    width: 50%;
    height: 20%;
    border-radius: 50%;
    border: #51a1a9 solid 10px;
}


.content{
    width: 80vw;
}
.about{
    height: 90vh;
    color: #495057;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 5rem;
    font-family: 'Victor Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* border-bottom: 1px solid #495057; */
}

.restname{
    color: #0d929e;
}
.about h1,.experience h1{
    font-size: 80px;
}

.name{
    display: flex;
    margin-right:11px ;
}
.description-text{
    font-size: 25px;
}

.description-work{
    margin-top: 5vh;
    width: 80%;
}

.social{
    margin-top: 5vh;
}
.social a{
    margin-right: 2vh;
}
.social .btn-resume{
  background-color:#0d929e;
  font-size:20px;
  color:white;
  padding: 2vh 2vw;
  border-radius:10px;
}
.social .btn-resume:hover{
  transition:1s ease-in-out;
  border-radius:40px;
}
.fa {
    padding: 1rem;
    font-size: 30px;
    width: 2.5%;
    height: 40%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #495057;
    color: white;
  }
  

.fa:hover {
    opacity: 0.7;
}
  

.fa:hover{
    background-color: #0d929e;
}


.skills-section{
    height: 90vh;
    color: #495057;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 5rem;
    font-family: 'Victor Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
    /* border-bottom: 1px solid #495057; */
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    background-color: #0d929e;
    height: 90%;
    width: 30%;
    color: white;
    border-radius: 5%;

}

.skill p{
    cursor: default;
}

.skill:hover{
    background-color: white;
    border: #0d929e solid 1px;
    color: #0d929e;
}



.project-section{
    /* height: 90vh; */
    display: flex;
    color: #495057;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 5rem;
    font-family: 'Victor Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    overflow: hidden;

}

.project-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 80%; /* Adjust to 100% */
/*     height: 50vh; */
    /* position: relative; */
    /* overflow: hidden; */
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:5rem ;
    border: #0d929e 1px solid;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 5rem;
    transition: transform 0.5s ease-in-out;
    min-width: 100%;
    margin: 0 2vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* position: absolute; */
    width: 100%; /* Adjust to 100% */
    
}
.title{
    margin-top: 1rem;
    margin-bottom: 0.5vh;
}
.role{
    font-size: 30px;
    /* margin-bottom: 2vh; */

}

.tech-tags{
    font-size: 20px;
}
.t1,.t2,.t3{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: inline-block;
    background-color: #0d929e;
    padding:1vw;
    border-radius: 10px;
    color: white;
}

.about-project{
    margin-top: 3vh;
    width: 70%;
}
.about-text{
    margin-top: 1vh;
    
    font-size: 20px;
}


.demo-fa{
        padding: 0.7rem;
        font-size: 30px;
        width: 1%;
        /* border-radius: 100%; */
        background: #495057;
        color: white;      
}

.links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.links a{
    text-decoration: none;
    margin-top: 1vh;
    margin-left: 1vh;
}

.links .fa{
    font-size: 20px;
}

#navigate-left,#navigate-right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 1%;
    margin: 0vw 0.4vw;
    text-align: center;
    text-decoration: solid;
    font-weight:900;
    border-radius: 10px;
    height: 1vh;


}

#navigate-left:hover,#navigate-right:hover{
    height: 4vh;
    width: 3vw;
    box-shadow: 0 0 5px 1px #51a1a9;
    transition: 0.5s ease-in;
    
}
#navigate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    text-align: center;
}

.contact-section{

    height: 80vh;
    color: #495057;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 5rem;
    font-family: 'Victor Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    /* border-bottom: 1px solid #495057; */
}

.contact-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section form input{
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 3vh;
    width: 50%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 5px #51a1a9;
}
#btn-send{
    margin-top: 4vh;
    box-shadow: none;
    border: none;
    height: 5vh;
    width: 40%;
    font-size: 20px;
    border-radius: 50px;
    background-color: #0d929e;
    color: white;
    text-decoration:solid;
}

#content{
    height: 15vh;
}

#btn-send:hover{
    background-color: white;
    color: #0f727b;
    border: #0d929e dashed 5px;
}

.contact-section form input:hover{
    border: #91c5c9 dashed 5px;
    box-shadow: none;
    outline: none;
}
.contact-section form input:focus{
    border: #91c5c9 dashed 5px;
    box-shadow: none;
    outline: none;
}
.social {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-start;
}
#social .fa{
  font-size:20px;
}
